In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
usa_election = pd.read_csv('./data/usa_election.txt')

In [7]:
usa_election.head(2)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,3.6601e+08,RETIRED,RETIRED,250.0,20-JUN-11,NaN,NaN,NaN,SA17A,736166
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,3.6601e+08,RETIRED,RETIRED,50.0,23-JUN-11,NaN,NaN,NaN,SA17A,736166

In [8]:
months = {'JAN' : 1, 'FEB' : 2, 'MAR' : 3, 'APR' : 4, 'MAY' : 5, 'JUN' : 6,
          'JUL' : 7, 'AUG' : 8, 'SEP' : 9, 'OCT': 10, 'NOV': 11, 'DEC' : 12}
of_interest = ['Obama, Barack', 'Romney, Mitt', 'Santorum, Rick', 
               'Paul, Ron', 'Gingrich, Newt']
parties = {
  'Bachmann, Michelle': 'Republican',
  'Romney, Mitt': 'Republican',
  'Obama, Barack': 'Democrat',
  "Roemer, Charles E. 'Buddy' III": 'Reform',
  'Pawlenty, Timothy': 'Republican',
  'Johnson, Gary Earl': 'Libertarian',
  'Paul, Ron': 'Republican',
  'Santorum, Rick': 'Republican',
  'Cain, Herman': 'Republican',
  'Gingrich, Newt': 'Republican',
  'McCotter, Thaddeus G': 'Republican',
  'Huntsman, Jon': 'Republican',
  'Perry, Rick': 'Republican'           
 }

In [9]:
usa_election['parties'] =  usa_election['cand_nm'].map(parties)
usa_election.head(2)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,parties
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,3.6601e+08,RETIRED,RETIRED,250.0,20-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,3.6601e+08,RETIRED,RETIRED,50.0,23-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican

In [10]:
usa_election.parties.unique()

array(['Republican', 'Democrat', 'Reform', 'Libertarian'], dtype=object)

In [11]:
usa_election.parties.value_counts()

Democrat       292400
Republican     237575
Reform           5364
Libertarian       702
Name: parties, dtype: int64

In [12]:
usa_election.groupby(by=['parties', 'contb_receipt_dt'], ).contb_receipt_amt.sum()

parties     contb_receipt_dt
Democrat    01-AUG-11           175281.00
            01-DEC-11           651532.82
            01-JAN-12            58098.80
            01-JUL-11           165961.00
            01-JUN-11           145459.00
                                  ...
Republican  31-JAN-12           869890.41
            31-JUL-11            12781.02
            31-MAR-11            62475.00
            31-MAY-11           301339.80
            31-OCT-11           734601.83
Name: contb_receipt_amt, Length: 1183, dtype: float64

In [13]:
date = usa_election.contb_receipt_dt
def transformDate(data):
    for i in range(len(date)):
        new_date = {}
        day, month, year = date[i].split('-')
        month = months[month]
        return '-'.join(['20'+year, str(month), day])

usa_election['contb_receipt_dt']  = usa_election.contb_receipt_dt.map(transformDate)

In [14]:
usa_election.head(2)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,parties
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,3.6601e+08,RETIRED,RETIRED,250.0,2011-6-20,NaN,NaN,NaN,SA17A,736166,Republican
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,3.6601e+08,RETIRED,RETIRED,50.0,2011-6-20,NaN,NaN,NaN,SA17A,736166,Republican

In [15]:
usa_election.groupby(by=['contb_receipt_amt', 'parties']).contb_receipt_amt.sum()

contb_receipt_amt  parties
-30800.00          Democrat       -30800.00
-25800.00          Democrat       -25800.00
-7500.00           Republican      -7500.00
-5500.00           Democrat        -5500.00
-5414.31           Republican      -5414.31
                                    ...
 33300.00          Democrat        33300.00
 451726.00         Democrat       451726.00
 512710.91         Democrat       512710.91
 1511192.17        Democrat      1511192.17
 1944042.43        Democrat      1944042.43
Name: contb_receipt_amt, Length: 6780, dtype: float64

In [16]:
df = usa_election[usa_election.contbr_occupation =='DISABLED VETERAN']

In [20]:
df.groupby(by='cand_nm').contb_receipt_amt.sum()

cand_nm
Cain, Herman       300.00
Obama, Barack     4205.00
Paul, Ron         2425.49
Santorum, Rick     250.00
Name: contb_receipt_amt, dtype: float64

In [21]:
max_amt = usa_election.groupby(by=['cand_nm'])['contb_receipt_amt'].max()
max_amt

cand_nm
Bachmann, Michelle                   3022.00
Cain, Herman                        10000.00
Gingrich, Newt                       5100.00
Huntsman, Jon                        5000.00
Johnson, Gary Earl                   2500.00
McCotter, Thaddeus G                 4000.00
Obama, Barack                     1944042.43
Paul, Ron                            5000.00
Pawlenty, Timothy                   10000.00
Perry, Rick                         10000.00
Roemer, Charles E. 'Buddy' III        200.00
Romney, Mitt                        12700.00
Santorum, Rick                       5000.00
Name: contb_receipt_amt, dtype: float64

In [22]:
for i in range(max_amt.size):
    max_money = max_amt[i]
    # for 循环中不显示执行结果，需要使用display或者print
    display(usa_election.query('contb_receipt_amt == '+str(max_money))

SyntaxError: unexpected EOF while parsing (<ipython-input-22-5643ebabd3bf>, line 4)

In [34]:
df1 = DataFrame(np.random.randint(1,100, size=(5,5)), index=[0, 1, 2, 'a', 'b'])
df2 = DataFrame(np.random.randint(1,100, size=(5,5)))

In [35]:
df1

    0   1   2   3   4
0  19  22  18  40  40
1  76  79  15   5  38
2  60  27  28  62   9
a   3  27  59  13  62
b  42  38  42  33  68

In [36]:
df2

    0   1   2   3   4
0  14  47   6   6  88
1  59  34  42  56  36
2  13  48  79  64  27
3  51  16  11   6  46
4  40  13  34  24  71

In [38]:
pd.concat([df1, df2], axis=1, join='outer')

      0     1     2     3     4     0     1     2     3     4
0  19.0  22.0  18.0  40.0  40.0  14.0  47.0   6.0   6.0  88.0
1  76.0  79.0  15.0   5.0  38.0  59.0  34.0  42.0  56.0  36.0
2  60.0  27.0  28.0  62.0   9.0  13.0  48.0  79.0  64.0  27.0
3   NaN   NaN   NaN   NaN   NaN  51.0  16.0  11.0   6.0  46.0
4   NaN   NaN   NaN   NaN   NaN  40.0  13.0  34.0  24.0  71.0
a   3.0  27.0  59.0  13.0  62.0   NaN   NaN   NaN   NaN   NaN
b  42.0  38.0  42.0  33.0  68.0   NaN   NaN   NaN   NaN   NaN

In [41]:
dic1 = {
    'name':['henry','echo', 'dean', 'tom'],
    'apartment':['tech','sale','hr', 'xx'],
}
df1 = DataFrame(dic1, index=['a', 'b', 'c', 'd'])
df1

    name apartment
a  henry      tech
b   echo      sale
c   dean        hr
d    tom        xx

In [49]:
dic2 = {
    'apart':['tech','sale','hr', 'acctounting'],
    'supervisor':['diane', 'oleg', 'iris', 'elaine']
}
df2 = DataFrame(dic2, index=['a', 'b', 'c', 'd'])
df2

         apart supervisor
a         tech      diane
b         sale       oleg
c           hr       iris
d  acctounting     elaine

In [62]:
df = pd.merge(left=df1, right=df2, left_on='apartment', right_on='apart', how='right')
df

    name apartment        apart supervisor
0  henry      tech         tech      diane
1   echo      sale         sale       oleg
2   dean        hr           hr       iris
3    NaN       NaN  acctounting     elaine

In [65]:
df.drop(labels='apart', axis=1, inplace=True)
df

KeyError: "['apart'] not found in axis"

In [67]:
df.drop_duplicates(keep='first')

    name apartment supervisor
0  henry      tech      diane
1   echo      sale       oleg
2   dean        hr       iris
3    NaN       NaN     elaine

In [70]:
df.tail(1)

  name apartment supervisor
3  NaN       NaN     elaine

In [71]:
df = usa_election[usa_election.contbr_occupation =='DISABLED VETERAN']
df

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,parties
149790,C00431445,P80003338,"Obama, Barack","MAHURIN, DAVID",TAMPA,FL,33616,VETERANS ADMINISTRATION,DISABLED VETERAN,10.00,2011-6-20,NaN,NaN,NaN,SA17A,766535,Democrat
150910,C00431445,P80003338,"Obama, Barack","MAHURIN, DAVID",TAMPA,FL,33616,VETERANS ADMINISTRATION,DISABLED VETERAN,20.00,2011-6-20,NaN,NaN,NaN,SA17A,766535,Democrat
174041,C00431445,P80003338,"Obama, Barack","KRUCHTEN, MICHAEL",ROCKFORD,IL,6.11147e+08,DISABLED,DISABLED VETERAN,50.00,2011-6-20,NaN,NaN,NaN,SA17A,763233,Democrat
175244,C00431445,P80003338,"Obama, Barack","KRUCHTEN, MICHAEL",ROCKFORD,IL,6.11147e+08,DISABLED,DISABLED VETERAN,250.00,2011-6-20,NaN,NaN,NaN,SA17A,763233,Democrat
183790,C00431445,P80003338,"Obama, Barack","BRYANT, J.L.",TOPEKA,KS,6.66122e+08,RET ARMY,DISABLED VETERAN,100.00,2011-6-20,NaN,NaN,NaN,SA17A,763233,Democrat
184211,C00431445,P80003338,"Obama, Barack","BRYANT, J.L.",TOPEKA,KS,6.66122e+08,RET ARMY,DISABLED VETERAN,100.00,2011-6-20,NaN,NaN,NaN,SA17A,756218,Democrat
184417,C00431445,P80003338,"Obama, Barack","BRYANT, J.L.",TOPEKA,KS,6.66122e+08,RET ARMY,DISABLED VETERAN,100.00,2011-6-20,NaN,NaN,NaN,SA17A,756218,Democrat
184761,C00431445,P80003338,"Obama, Barack","BRYANT, J.L.",TOPEKA,KS,6.66122e+08,RET ARMY,DISABLED VETERAN,110.00,2011-6-20,NaN,X,* OBAMA VICTORY FUND 2012,SA18,756218,Democrat
185140,C00431445,P80003338,"Obama, Barack","BAUER, JOSEPH",PROSPECT,KY,40059,NOT EMPLOYED,DISABLED VETERAN,85.00,2011-6-20,NaN,NaN,NaN,SA17A,756218,Democrat
185264,C00431445,P80003338,"Obama, Barack","BAUER, JOSEPH",PROSPECT,KY,40059,NOT EMPLOYED,DISABLED VETERAN,100.00,2011-6-20,NaN,NaN,NaN,SA17A,756218,Democrat
186026,C00431445,P80003338,"Obama, Barack","BAUER, JOSEPH",PROSPECT,KY,40059,NOT EMPLOYED,DISABLED VETERAN,25.00,2011-6-20,NaN,NaN,NaN,SA17A,763233,Democrat
186361,C00431445,P80003338,"Obama, Barack","BAUER, JOSEPH",PROSPECT,KY,40059,NaN,DISABLED VETERAN,25.00,2011-6-20,NaN,NaN,NaN,SA17A,766535,Democrat
194750,C00431445,P80003338,"Obama, Barack","MCCORMACK, MARK",BOSTON,MA,2.11559e+07,DISABLED VETERAN,DISABLED VETERAN,250.00,2011-6-20,NaN,NaN,NaN,SA17A,763233,Democrat
205094,C00431445,P80003338,"Obama, Barack","DEKLE, CHARLES R.",UPPER MARLBORO,MD,207748600,RETIRED,DISABLED VETERAN,240.00,2011-6-20,NaN,NaN,NaN,SA17A,756218,Democrat
210809,C00431445,P80003338,"Obama, Barack","DEKLE, CHARLES R.",UPPER MARLBORO,MD,207748600,RETIRED,DISABLED VETERAN,160.00,2011-6-20,NaN,X,BEST EFFORTS UPDATE,SA17A,763233,Democrat
210810,C00431445,P80003338,"Obama, Barack","DEKLE, CHARLES R.",UPPER MARLBORO,MD,207748600,RETIRED,DISABLED VETERAN,160.00,2011-6-20,NaN,X,BEST EFFORTS UPDATE,SA17A,763233,Democrat
210811,C00431445,P80003338,"Obama, Barack","DEKLE, CHARLES R.",UPPER MARLBORO,MD,207748600,RETIRED,DISABLED VETERAN,240.00,2011-6-20,NaN,X,BEST EFFORTS UPDATE,SA17A,763233,Democrat
225948,C00431445,P80003338,"Obama, Barack","CAMPBELL, SARA",KANSAS CITY,MO,641184568,NOT EMPLOYED,DISABLED VETERAN,115.00,2011-6-20,NaN,X,* OBAMA VICTORY FUND 2012,SA18,766535,Democrat
225954,C00431445,P80003338,"Obama, Barack","CAMPBELL, SARA",KANSAS CITY,MO,641184568,NOT EMPLOYED,DISABLED VETERAN,80.00,2011-6-20,NaN,X,* OBAMA VICTORY FUND 2012,SA18,766535,Democrat
231074,C00431445,P80003338,"Obama, Barack","RORIE, FOREST",WADESBORO,NC,281707443,DISABLED,DISABLED VETERAN,60.00,2011-6-20,NaN,NaN,NaN,SA17A,766535,Democrat
231773,C00431445,P80003338,"Obama, Barack","RORIE, FOREST",WADESBORO,NC,281707443,DISABLED,DISABLED VETERAN,40.00,2011-6-20,NaN,NaN,NaN,SA17A,763233,Democrat
232434,C00431445,P80003338,"Obama, Barack","RORIE, FOREST",WADESBORO,NC,281707443,DISABLED,DISABLED VETERAN,60.00,2011-6-20,NaN,NaN,NaN,SA17A,763233,Democrat
233434,C00431445,P80003338,"Obama, Barack","RORIE, FOREST",WADESBORO,NC,281707443,DISABLED,DISABLED VETERAN,40.00,2011-6-20,NaN,NaN,NaN,SA17A,763233,Democrat
235014,C00431445,P80003338,"Obama, Barack","RORIE, FOREST",WADESBORO,NC,281707443,INFORMATION REQUESTED,DISABLED VETERAN,50.00,2011-6-20,NaN,NaN,NaN,SA17A,756218,Democrat
235112,C00431445,P80003338,"Obama, Barack","RORIE, FOREST",WADESBORO,NC,281707443,INFORMATION REQUESTED,DISABLED VETERAN,40.00,2011-6-20,NaN,NaN,NaN,SA17A,756218,Democrat
235135,C00431445,P80003338,"Obama, Barack","RORIE, FOREST",WADESBORO,NC,281707443,INFORMATION REQUESTED,DISABLED VETERAN,5.00,2011-6-20,NaN,NaN,NaN,SA17A,756218,Democrat
235846,C00431445,P80003338,"Obama, Barack","RORIE, FOREST",WADESBORO,NC,281707443,INFORMATION REQUESTED,DISABLED VETERAN,40.00,2011-6-20,NaN,NaN,NaN,SA17A,756218,Democrat
244060,C00431445,P80003338,"Obama, Barack","CARIS, OLIVIA M.",MEDFORD LAKES,NJ,080551225,SELF-EMPLOYED,DISABLED VETERAN,500.00,2011-6-20,NaN,NaN,NaN,SA17A,763233,Democrat
260154,C00431445,P80003338,"Obama, Barack","NOLAN, DIANA",SPRAKERS,NY,12166,DISABLED VETERAN,DISABLED VETERAN,50.00,2011-6-20,NaN,NaN,NaN,SA17A,756218,Democrat
260544,C00431445,P80003338,"Obama, Barack","NOLAN, DIANA",SPRAKERS,NY,12166,DISABLED VETERAN,DISABLED VETERAN,50.00,2011-6-20,NaN,NaN,NaN,SA17A,756218,Democrat
264154,C00431445,P80003338,"Obama, Barack","NOLAN, DIANA",SPRAKERS,NY,12166,DISABLED VETERAN,DISABLED VETERAN,50.00,2011-6-20,NaN,NaN,NaN,SA17A,756218,Democrat
289927,C00431445,P80003338,"Obama, Barack","ROBERTS, GORDON",EUGENE,OR,9.74054e+08,DISABLED,DISABLED VETERAN,1000.00,2011-6-20,NaN,NaN,NaN,SA17A,756218,Democrat
379163,C00495820,P80000748,"Paul, Ron","COMERFORD, CHARLES",GROTON,CT,63403740,NOT APPLICABLE,DISABLED VETERAN,400.00,2011-6-20,NaN,NaN,NaN,SA17A,763173,Republican
379537,C00495820,P80000748,"Paul, Ron","COMERFORD, CHARLES",GROTON,CT,6340,NONE,DISABLED VETERAN,250.00,2011-6-20,NaN,NaN,NaN,SA17A,767168,Republican
379555,C00495820,P80000748,"Paul, Ron","COMERFORD, CHARLES",GROTON,CT,6340,NONE,DISABLED VETERAN,201.20,2011-6-20,NaN,NaN,NaN,SA17A,767180,Republican
396211,C00495820,P80000748,"Paul, Ron","THORNELL, GARY ENOS MR.",BENTON,KY,420256409,NONE,DISABLED VETERAN,201.20,2011-6-20,NaN,NaN,NaN,SA17A,762896,Republican
408043,C00495820,P80000748,"Paul, Ron","BECKER, CHARLES DONALD",CHARLOTTE,NC,282780039,NONE,DISABLED VETERAN,85.82,2011-6-20,NaN,NaN,NaN,SA17A,763173,Republican
408743,C00495820,P80000748,"Paul, Ron","MCCLAIN, JOHN EDWARD",VANCEBORO,NC,285869103,NONE,DISABLED VETERAN,50.00,2011-6-20,NaN,NaN,NaN,SA17A,767168,Republican
419163,C00495820,P80000748,"Paul, Ron","GRANT, MICHAEL JAMES",DIAMOND POINT,NY,128243010,DISABLED VETERAN,DISABLED VETERAN,47.50,2011-6-20,NaN,NaN,NaN,SA17A,767168,Republican
420332,C00495820,P80000748,"Paul, Ron","CRAYCRAFT, SETH MR.",MIDDLETOWN,OH,450444916,DEPT OF VETERANS AFFAIRS,DISABLED VETERAN,20.12,2011-6-20,NaN,NaN,NaN,SA17A,763173,Republican
420517,C00495820,P80000748,"Paul, Ron","CRAYCRAFT, SETH MR.",MIDDLETOWN,OH,450444916,DEPT OF VETERANS AFFAIRS,DISABLED VETERAN,50.00,2011-6-20,NaN,NaN,NaN,SA17A,763173,Republican
421427,C00495820,P80000748,"Paul, Ron","CRAYCRAFT, SETH MR.",MIDDLETOWN,OH,450444916,DEPT OF VETERANS AFFAIRS,DISABLED VETERAN,20.12,2011-6-20,NaN,NaN,NaN,SA17A,767168,Republican
421429,C00495820,P80000748,"Paul, Ron","CHAPMAN, ROBERT F.",COLUMBUS,OH,43212,SELF EMPLOYED,DISABLED VETERAN,25.00,2011-6-20,NaN,NaN,NaN,SA17A,767180,Republican
421535,C00495820,P80000748,"Paul, Ron","CRAYCRAFT, SETH MR.",MIDDLETOWN,OH,450444916,DEPT OF VETERANS AFFAIRS,DISABLED VETERAN,50.00,2011-6-20,NaN,NaN,NaN,SA17A,767168,Republican
421621,C00495820,P80000748,"Paul, Ron","CHAPMAN, ROBERT F.",COLUMBUS,OH,43212,SELF EMPLOYED,DISABLED VETERAN,50.00,2011-6-20,NaN,NaN,NaN,SA17A,767180,Republican
421741,C00495820,P80000748,"Paul, Ron","CHAPMAN, ROBERT F.",COLUMBUS,OH,43212,SELF EMPLOYED,DISABLED VETERAN,50.00,2011-6-20,NaN,NaN,NaN,SA17A,767180,Republican
421754,C00495820,P80000748,"Paul, Ron","CHAPMAN, ROBERT F.",COLUMBUS,OH,43212,SELF EMPLOYED,DISABLED VETERAN,25.00,2011-6-20,NaN,NaN,NaN,SA17A,767180,Republican
421839,C00495820,P80000748,"Paul, Ron","CHAPMAN, ROBERT F.",COLUMBUS,OH,43212,SELF EMPLOYED,DISABLED VETERAN,50.00,2011-6-20,NaN,NaN,NaN,SA17A,767180,Republican
421895,C00495820,P80000748,"Paul, Ron","CRAYCRAFT, SETH MR.",MIDDLETOWN,OH,450444916,DEPT OF VETERANS AFFAIRS,DISABLED VETERAN,20.12,2011-6-20,NaN,NaN,NaN,SA17A,767180,Republican
429191,C00495820,P80000748,"Paul, Ron","ELLIOTT, HEATHER M.",MYRTLE BEACH,SC,295793133,DISABLED VETERAN,DISABLED VETERAN,100.00,2011-6-20,NaN,NaN,NaN,SA17A,767168,Republican
430649,C00495820,P80000748,"Paul, Ron","HOUSE, ADAM GLENN",MURFREESBORO,TN,371304204,US ARMY,DISABLED VETERAN,61.84,2011-6-20,NaN,NaN,NaN,SA17A,767168,Republican
431049,C00495820,P80000748,"Paul, Ron","HOUSE, ADAM GLENN",MURFREESBORO,TN,371304204,US ARMY,DISABLED VETERAN,17.57,2011-6-20,NaN,NaN,NaN,SA17A,767168,Republican
435011,C00495820,P80000748,"Paul, Ron","WEAR-CYNFYN, BLEDDYN",HENRIETTA,TX,76365,US ARMY,DISABLED VETERAN,150.00,2011-6-20,NaN,NaN,NaN,SA17A,767180,Republican
446880,C00495820,P80000748,"Paul, Ron","MANRING, JAMES DEAN",BREMERTON,WA,983124333,VA/SSDI,DISABLED VETERAN,500.00,2011-6-20,NaN,NaN,NaN,SA17A,763173,Republican
453659,C00496034,P20002721,"Santorum, Rick","GEIB, JOHN E. MR USA RET",MANSFIELD,MO,65704,NaN,DISABLED VETERAN,100.00,2011-6-20,NaN,NaN,NaN,SA17A,763255,Republican
453660,C00496034,P20002721,"Santorum, Rick","GEIB, JOHN E. MR USA RET",MANSFIELD,MO,65704,NaN,DISABLED VETERAN,50.00,2011-6-20,NaN,NaN,NaN,SA17A,763255,Republican
453661,C00496034,P20002721,"Santorum, Rick","GEIB, JOHN E. MR USA RET",MANSFIELD,MO,65704,NaN,DISABLED VETERAN,100.00,2011-6-20,NaN,NaN,NaN,SA17A,763255,Republican
459440,C00496067,P00003608,"Cain, Herman","MARTIN, SAMUEL",YELLVILLE,AR,726878060,VA,DISABLED VETERAN,100.00,2011-6-20,NaN,NaN,NaN,SA17A,763621,Republican
459447,C00496067,P00003608,"Cain, Herman","MARTIN, SAMUEL",YELLVILLE,AR,726878060,VA,DISABLED VETERAN,100.00,2011-6-20,NaN,NaN,NaN,SA17A,763621,Republican
464508,C00496067,P00003608,"Cain, Herman","ANDERSON, JOSEPH",GROVETOWN,GA,308134105,NONE,DISABLED VETERAN,100.00,2011-6-20,NaN,NaN,NaN,SA17A,755790,Republican